$primary-normal: red;
$primary-dark: rgb(19, 1, 1);
$primary-light: rgb(243, 67, 67);

$secundary-normal: rgb(80, 0, 0);
$secundary-dark: rgb(19, 0, 0);
$secundary-light: #1a1f25;

$black-normal: #232224;
$black-dark: #161617;
$black-light: #353436;

$white-normal: #fff;
$white-dark: #edeaef;
$white-light: #fafbff;

$red-normal: #d94140;
$red-dark: #b42b2b;
$red-light: #d34040;

